.person-header {
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  min-height: 5em;
}

.person-detail {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.sub-details {
  font-size: 16px;
}

.upload {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 16px;
}

.upload-card {
  margin-right: 14px;
}

.main-div {
  height: 100%;
}

.common-divider {
  margin: 0 !important;
}

.back-btn {
  margin: 1rem 0 0 2rem;
}
